body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
}

html {
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: black;
}

#game-board {
  margin: 35px auto;
  margin-bottom: 30px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid white; */
  /* background-color: #343a40; */
  box-sizing: content-box;
}

.game-tile {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  font-size: 70px;
  cursor: default;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* border: 2px solid white; */
  color: white;
  /* background-color: #343a40; */
}

.cursor-default {
  cursor: default;
}

.text-playertwo {
  /* color: #9B4AD5;; */
  color: #007bff;
}

.text-playerone {
  /* color: pink; */
  color: #28a745;
}

.text-playerhover {
  color: silver;
  opacity: 0.3;
}

.border-tac-bottom {
  border-bottom: 4px solid white;
}

/* dark #343a40 */
/* darkblueish rgb(13, 13, 61) */
/* success #28a745 */
/* primary #007bff */
/* userlist #271933 */

.border-tac-right {
  border-right: 4px solid white;
}

.winning-combo-lads {
  background-color: #343a40;
}

/* .winning-combo-bois {
  color: #9B4AD5;
} */

.top-status-minh {
  min-height: 155px;
}